body,div,p,span,ul,li,ol,button,img,h1,h2,h3,input{
    margin: 0;
    padding: 0;
    border: 0;
}
ol,ul{
    list-style:none;
}
body{
    font-size: 14px;
    font-family: 微软雅黑,"Microsoft YaHei",华文细黑,"MicrosoftJhengHei",STHeiti,MingLiu;
}
div{
    box-sizing: border-box;
}
a{
    text-decoration:none;
    color: #fff;
    outline: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
body,html{
    width: 100%;
    height: 100%;
	overflow: hidden;
}
.hide{
	display: none;
}
.blur{
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=50, MakeShadow=false);
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.content_wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height: 450px;
    background-color: #35302d;
    border-radius: 3px;
    border: 2px solid #282828;
    border-top-color: #7a7b7a;
    border-right-color: #0a0a0a;
    border-bottom-color: #1d1d1d;
}

.logo{
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: #d01c25;
    border-radius: 100%;
    background-image: url(../imges/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;
    position: absolute;
    left: 0;
    right: 0;
    top: -450px;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
}
.logo_animation{
    width: 152px;
    height: 152px;
    border-radius: 100%;
    border: 1px solid #d01c25;
    opacity: 0.9;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    opacity: 1;
    
}
.logo_anit{
    animation: begin 4s linear infinite;
    -webkit-animation: begin 4s linear infinite;
}

@keyframes begin {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
        opacity: 0;
        border-color: #fff;
    }
    100%{
    
        transform: scale(1);
        opacity: 0;
    }
    
 
}
@-webkit-keyframes begin{
  0%{
        -webkit-transform: scale(1);
    }
    50%{
        -webkit-transform: scale(2);
        opacity: 0;
        border-color: #fff;
    }
    100%{
    
        -webkit-transform: scale(1);
        opacity: 0;
    }
}
.clound{
    height: 30px;
    background-image: url(../imges/clound.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 90px;
}
.content h3{
    text-align: center;
    color: #bcbcbb;
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
}
.nav{
    text-align: center;
    margin-top: 20px;
    
}
.nav li{
    margin: 0 25px;
    padding: 15px 0;
    color: #fff;
    
}
.active{
    background-color: #5e5048;
}
.nav a{
    display: block;
    
}
.nav a:hover{
    background-color: #5e5048;
}
.nav li span{
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: 4px;
    text-align: right;
    padding-right: 8px;
    line-height: 14px;
}
.nav li span:last-child{
    text-align: left;
    padding-left: 14px;
    border-left: 2px solid #fff;
}
.socal_connet{
    text-align: center;
    margin-top: 10px;
}
.socal_connet span{
    vertical-align: top;
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 10px;
    
    border-radius: 100%;
}
.socal_connet span img{
    width: 100%;
}